body {
    background: url(gambar2.png);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Mengubah warna teks menjadi putih */
}

header {
    background: rgba(60, 62, 63, 0.8);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
.rating {
    margin: 10px 0;
}

.rating span {
    color: gold; /* Warna bintang terisi */
    font-size: 20px; /* Ukuran bintang */
}

.rating span:last-child {
    color: lightgray; /* Warna bintang kosong */
}


nav {
    background: rgba(60, 62, 63, 0.8);
    color: #ffffff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* Mengubah warna tautan menjadi putih */
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.product-list {
    display: flex;
    justify-content: center; /* Memindahkan daftar produk ke tengah */
    flex-wrap: wrap;
}

.product-item {
    background: rgba(60, 62, 63, 0.8);
    border: 1px solid #35424a;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 30%;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background: rgba(63, 61, 60, 0.8);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}